@media (max-width: 1199px) {
    body {
        font-size: 16px;
    }

    .menu li {
        display: inline-block;
        padding: 0 15px;
    }

    .main-section {
        min-height: 650px;
    }

    .main-section .background-phone {
        margin-top: -175px;
        width: 340px;
        height: 360px;
        left: 40px;
    }

    .h1 {
        font-size: 42px;
        line-height: 65px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .h2 {
        font-size: 28px;
        line-height: 50px;
        margin-bottom: 40px;
    }

    .h3 {
        font-size: 18px;
        line-height: 30px;
    }

    .btn {
        padding: 8px 30px;
        font-size: 16px;
    }

    .btn-secondary {
        padding: 18px 40px;
    }

    .section-advantages {
        margin-top: 100px;
    }

    .section-advantages .icon {
        margin-bottom: 30px;
    }

    .section-download .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-download .actions-container {
        padding-top: 20px;
    }
}

@media (max-width: 991px) {
    .header .menu-desktop {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 18px;
    }

    .main-section .background {
        position: relative;
        width: 100%;
        height: 500px;
        border-radius: 0;
    }

    .h1 {
        font-size: 48px;
        line-height: 85px;
    }

    .btn-secondary {
        padding: 22px 60px;
    }

    .main-section-content {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section {
        margin-bottom: 50px;
    }

    .section-advantages {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 0;
    }

    .h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 50px;
    }

    .h3 {
        font-size: 24px;
        line-height: 36px;
    }

    .section-description-1 .background, .section-description-2 .background {
        width: 100%;
        position: relative;
        height: 500px;
        border-radius: 0;
    }

    .col-description {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .section--download {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-download .section-content {
        width: 100%;
        padding: 0 35px;
    }

    .section-download .actions-container {
        padding-top: 0;
    }

    .section-download .h2 {
        margin-bottom: 30px;
    }

    .section-download .actions-container .btn {
        width: 100%;
        margin: 30px 0 0;
        padding: 22px 60px;
    }

    .section-testimonials .background {
        display: none;
    }

    .col-testimonials {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section-footer .logo-image {
        width: 65px;
        height: 65px;
    }

    .section-footer .logo-text {
        font-size: 24px;
        line-height: 36px;
    }
}